@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
  font-family: "Merriweather", sans-serif !important;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}

.card img {
  object-fit: cover;
  height: 100%;
}

.card-text {
  font-size: 0.9rem;
}

.culture-img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

.service-card img {
  height: 250px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.sr-only{
  color:black;
}

.carousel-item{
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;
  width: 60%;
}
.carousel-item * {
  left: 33%;
  position:relative;
  width: auto;
}